$spinner-color: #000 !default;

.spinner {
  animation: rotation 1250ms infinite cubic-bezier(0.75, 0.28, 0.44, 0.82);
  -o-animation: rotation 1250ms infinite cubic-bezier(0.75, 0.28, 0.44, 0.82);
  -moz-animation: rotation 1250ms infinite cubic-bezier(0.75, 0.28, 0.44, 0.82);
  -webkit-animation: rotation 1250ms infinite cubic-bezier(0.75, 0.28, 0.44, 0.82);

  position: relative;
  border-radius: 100%;
  height: 5rem;
  width: 5rem !important;
  margin: -2.5rem auto 0 -2.5rem;
  border: 6px solid rgba($spinner-color, .15);
  border-top: 6px solid rgba($spinner-color, 1);

  div { display: none; }
}

@-webkit-keyframes rotation {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(359deg); }
}

@-moz-keyframes rotation {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(359deg); }
}

@-o-keyframes rotation {
  from { -o-transform: rotate(0deg); }
  to { -o-transform: rotate(359deg); }
}

@keyframes rotation {
  from { transform: rotate(0deg); }
  to { transform: rotate(359deg); }
}
